* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./img/samurai.jpg)no-repeat;
    background-size: 1920px 1080px;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
}

.site {
    background: url(./img/derbent.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 50px;
    border-radius: 20px;
    position: absolute;
    bottom: 74%;
    right: 65%;
    box-shadow: 0 5px 100px #ccc;
    height: 180px;
    line-height: 180px;
    color: chartreuse;
    transition: color 0.3s linear;
    padding: 1px 30px;
}

h1:hover {
    color: red;
}

.site1 {
    background: url(./img/jdm.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 70px;
    border-radius: 20px;
    position: absolute;
    bottom: 74%;
    right: 140px;
    box-shadow: 0 5px 100px #ccc;
    height: 180px;
    line-height: 180px;
    color: chartreuse;
    transition: color 0.3s linear;
    padding: 1px 100px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1600px) {
    
    body {
        background-size: cover;
        background-position: center;
    }
    .site {
        background-size: cover;
        background-position: center;
        font-size: 40px;
        padding: 0 20px;
        height: 140px;
        line-height: 140px;
        right: 70%;
    }
    .site1 {
        background-size: cover;
        background-position: center;
        right: 6%;
        font-size: 40px;
        height: 140px;
        line-height: 140px;
    }
}

@media screen and (max-width: 1440px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .site {
        background-size: cover;
        background-position: center;
        font-size: 39px;
        height: 120px;     
        line-height: 120px;
        right: 68%;
    }
    .site1 {
        background-size: cover;
        background-position: center;
        right: 7%;
        font-size: 50px;
        height: 120px; 
        line-height: 120px;
    }
}

@media screen and (max-width: 1366px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .site {
        background-size: cover;
        background-position: center;
        font-size: 35px;
        height: 120px;     
        line-height: 120px;
        right: 66%;
    }
    .site1 {
        background-size: cover;
        background-position: center;
        right: 2%;
        font-size: 40px;
        height: 120px; 
        line-height: 120px;
        right: 6%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .site {
        background-size: cover;
        background-position: center;
        font-size: 31px;
        height: 100px;     
        line-height: 100px; 
        right: 66%;
    }
    .site1 {
        background-size: cover;
        background-position: center;
        right: 1%;
        font-size: 40px;
        height: 100px; 
        line-height: 100px;
        right: 4%;
    }
}